<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <h1>
        <%= locals.user || "Please log in" %>
    </h1>
    <p><a href="/users">Users Page</a></p>
    <p><a href="/users/new">Create a new User</a></p>

    <p><a href="/posts">Posts Page (for da Quest 3: Posts Router)</a></p> <!--for posts assignment -->
    <p><a href="/posts/new">Create a new Post (for da Quest 3: Posts Router)</a></p> <!-- posts assignment -->

</body>

</html>